.footer 
    .foooter__logo 
        img(src = '/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li: a(hre='#') About us
        li: a(hre='#') Dounload apps
        li: a(hre='#') Become a guide
        li: a(hre='#') Careers
        li: a(hre='#') Contact 
    p.footer__copyright &copy; by Priyanshu Rana. All rights reserved
